@font-face {
  font-family: "tildasans-reg";
  src: url("../fonts/TildaSans-Regular.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "tildasans-med";
  src: url("../fonts/TildaSans-Bold.woff") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  padding: 0;
  margin: 0;
  font-family: "tildasans-med";
}
.header_left ul {
  display: flex;
}

.header_left ul li {
  list-style: none;
  display: flex;
}
.header_left-item a {
  font-size: 16px;
  text-decoration: none;
  margin-left: 25px;
  font-family: "tildasans-med";
  color: #444;
}
header {
  padding: 5px 30px 5px 30px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
}

.header_logo a {
  color: rgb(0, 143, 29);
  font-weight: bold;
  font-size: 36px;
  text-decoration: none;
}
.header_right a {
  font-weight: 400;
  color: #474747;
  text-decoration: none;
  font-size: 20px;
  margin-right: 15px;
  font-family: "tildasans-reg";
}
.header_right-button {
  background-color: rgb(0, 143, 29);
  color: #ffffff;
  background-color: #009975;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 40px;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 10px;
  border: none;
}

.home_section-tittle {
  padding-top: 8px;
  padding-bottom: 3px;
  font-size: 54px;
  line-height: 1.1;
  text-align: center;
}

.home_section-subtittle {
  color: rgb(122, 122, 122);
  transition-delay: 0s;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  padding: 41px 0 0 0;
}
.home_section-img {
  width: 900px;

  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_section-img img {
  width: 100%;
}

.home_section-target {
  background-color: #f2f7fa;
  padding: 100px 0 100px 0;
}

.home_section-target-info {
  text-align: center;
}
.home_section-target-info h2 {
  padding: 20px 0 20px 0;
  position: relative;
}
.home_section-target-info p {
  padding: 20px 0 20px 0;
  position: relative;
  font-weight: 300;
  color: #000000;
}
.target_line {
  display: flex;
  justify-content: center;
}
.target_line span {
  content: "";
  background-color: rgb(0, 0, 0);
  width: 100px;
  height: 3px;
  margin: 20px 0;
}

.sertificate_container-logo {
  width: 10%;
}

.home_section-sertificate {
  background-color: #f2f7fa;

  display: flex;
  justify-content: space-around;
}
